@charset "utf-8";
/* CSS Document*/
h1{
    font-size: 80px; 
    color: black;
    border: 10px inset;
    
}

h1.grupos{
    font-size: 40px; 
    color: black;
    
}


img.grupo1 {
      width:4%;

}

img.grupo2 {
      
      width:40%;
}

img.grupo3 {
      
      width:16%;
}

img.grupo4 {
      
      width:20%;
}

img.grupo5 {
      width:60%;
      
      margin-left:8%;

}


div.contenedor1 { 

      overflow: auto;
      padding-left: 6%;
      border-top: 10px solid green;
      border-left: 10px solid green;
      border-right: 10px solid green;

}

div.contenedor2 { 

      overflow: auto;
      border-left: 10px solid green;
      border-right: 10px solid green;

}

div.contenedor3 { 

      overflow: auto;
      border-bottom: 10px solid green;
      border-left: 10px solid green;
      border-right: 10px solid green;
}
